#Allpage{
  width:100%;
  height: auto;
}


#source_left{
  width:45%;
  height: auto;
  float: left;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

#each_URL{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
/*    border-left: solid 10px #ffc06e;*/
}
#each_URL p , a {
    margin: 0;
    padding: 0;
}

#list3{
  padding: 0.5em 1em;
  margin: 2em 0;
  background: #f0f7ff;
  border: dashed 2px #5b8bd0;/*点線*/
}

#list3 p{
  margin: 0;
  padding: 0;
}
#favos_right{
  width: 45%;
  height: auto;
  float: right;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}



#select_URL {
  padding: 8px 19px;
  margin: 2em 0;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}

#select_URL p , a{
  margin: 0;
  padding: 0;
}
