{% extends "layout.html" %}  <!-- layout.html の引き継ぎ -->

{% block body %}
<script type="text/javascript">

  // ドラッグ開始時にデータの値を設定する
  function DragStart(event) {
    event.dataTransfer.setData("text", event.target.id);
  }

// ドロップ時に元のドラッグ値を取得し、現在の要素上に入れ子で保存する
function Drop(event) {
  var id = event.dataTransfer.getData("text");
  var elm = document.getElementById(id);
  event.currentTarget.appendChild(elm);
  event.preventDefault();
}

// ブラウザ標準のドロップ動作をキャンセル
function DragOver(event) {
  event.preventDefault();
  }
</script>

<div id = "Allpage">

  <div id = "source_left">
    <h1>Time Line</h1>
      <div id="list1">
        {% for url in urls %}
          <div id ="each_URL" style="border-left:solid 30px {{color[url.maker]}};">
            <a href="{{url.url}}">{{url.url}}</a>
            <br>
            <p>{{url.title}}</p>
          </div>
        {% endfor %}
      </div>
  </div>

  <dev id = "favos_right">
    <h1>Favos</h1>
      <div id="list2">
        <div id = "list3">
          <p>ここにドラッグアンドドロップ</p>
        </div>
        {% for favo in favos %}
          <div id = "select_URL">
            <a href="{{favo.url}}">{{favo.url}}</a>
            <br>
            <p>{{favo.title}}</p>
          </div>
        {% endfor %}
      </div>
  </dev>

</div>
<script type="text/javascript">
  new Sortable(document.getElementById('list1'), {
  group: 'shared',
	  filter:"<a>",
  onEnd: function (/**Event*/evt) {
	var itemEl = evt.item;  // dragged HTMLElement
	console.log(itemEl);
    console.log(itemEl.children[0]['text']);
    console.log(itemEl.children[2]['innerText'])
  }
  });


new Sortable(document.getElementById('list2'), { group: 'shared' , filter:"<a>"});
new Sortable(document.getElementById('list3'), { disabled: true   });
      console.log({{color}});
</script>

{% endblock %}
